.employee {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  margin: 10px auto;
  width: 100%;
  font-size: 20px;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #75858f;
}

td {
  background-color: #b4c4cd;
}

.addform {
  display: flex;
  gap: 5px;
  margin: 0px auto;
}

.addform td:last-child {
  display: flex;
  justify-content: space-evenly;
}

.addform * {
  font-size: 20px;
}

.editform * {
  font-size: 18px;
}

.margin-left {
  margin-left: 8px;
}
